
body {
	background-color: #2ecc71;
}

#title {
	background-color: #2ecc71;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

/*#menu *{
	background-color: #2ecc71;
	text-align: center;
	display: inline-block;
}*/

#tabs-1:hover {
	background-color: #1abc9c;
}

#tabs-2:hover {
	background-color: #1abc9c;
}

#tabs-2:hover {
	background-color: #1abc9c;
}

#menu {
	background-color: #27ae60;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}