h1 {
	text-align: center;
}

#title {
	background-color: #00aacc;
	text-align: center;
	border-radius: 20px;
	width: 500px;
}

div:hover {
	background-color: #0088ff;
}

body {
	background-color: #ffaa20;
}

#menu *{
	background-color: #44ff00;
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#help:hover {
	background-color: #0088ff;
}

#code:hover {
	background-color: #0088ff;
}

#home:hover {
	background-color: #0088ff;
}

#menu {
	background-color: #44ff00;
	text-align: center;
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}